<div class="form-group row">
    @Html.LabelFor(model => model._column_, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DisplayFor(model => model._column_)
    </div>
</div>