@model _namespace_.ViewModels._table_ViewModel

@{
    var html_target = (ViewContext.RouteData.Values["html_target"] ?? Request.QueryString["html_target"]) as string;
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var modalId = ViewContext.RouteData.Values["modal_id"] ?? Request.QueryString["modal_id"];
    var formId = Guid.NewGuid().ToString();
    var lookups = ViewBag.Lookups as Dictionary<string, object>;
}


@using (Ajax.BeginForm(
    actionName: "Update",
    controllerName: controller,
    routeValues: new { html_target = html_target },
    ajaxOptions: new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "modal_loading(true)",
        OnSuccess = "hide_modal(this)",
        Confirm = null,
        AllowCache = false,
        InsertionMode = InsertionMode.Replace,
        OnFailure = "show_error",
        OnComplete = "modal_loading(false)",
        UpdateTargetId = html_target
    },
    htmlAttributes: new
    {
        id = formId
    }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>T_Comment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        _editFields_

        <script>
            $(function () {
                $('form#@formId select').each(function () {
                    $(this).prepend('<option value=""></option>'); //allow empty selections
                });

                $.validator.unobtrusive.parse("form#@formId"); //enable validations
            });
        </script>

        <div class="form-group row">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">
                <button type="submit" class="btn btn-success btn-sm">Update</button>
            </div>
        </div>
    </div>
}