<div class="tab-pane fade" id="tab-_table_-_childtable_">
    @Html.Action(actionName: "ListTable", controllerName: "_childtable_", routeValues: new { id = currentId, ui_modal_id, ui_route_filter = (new _childtable_ViewModel { _childfkcolname_ = currentItem._pkname_ }).ToRouteFilter(), ui_html_target = "tab-_table_-_childtable_", ui_list_view = "ListTable" })
</div>